html, body {
    height: 100%;
    width: 100%;    
    font: 16px/1 sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}

strong {
    font-weight: bold;
}

a,
button {
    color: inherit;
    transition: .3s;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    font: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

#status-text {
    height: 104px;
    font-size: 16px;
    padding-top: 20px;
    line-height: 2;
}

header {
    height: 48px;
    line-height: 48px;
    background: #425565;
    font-size: 20px;
    color: aliceblue;
    padding: 0 24px;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.20);      
}

footer {
    position: absolute;
    z-index: 4;
    bottom: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    background: #425565;
    font-size: 16px;
    color: aliceblue;
    padding: 0 24px;
        
}

span.is-collision {
    font-weight: bold;
    color: firebrick;
}

#collision-toggle {
    position: relative;
    z-index: 5;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 36px;
    font-size: 16px;
    text-align: left;
    color: black;
    border: 0;
    background: none;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
}

div#control-panel {
    margin-left: 24px;
    margin-top: 12px;
    background-color: white;
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
}

div#instructions {
    max-width: 240px;
}

div#instructions p {
    line-height: 1.5;
    margin-top: 4px;
}

.sim-btn {
    position: relative;
    z-index: 5;
    height: 40px;
    min-width: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 8px;
    border-radius: 2px;    
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
    background: #425565;
    outline: none;
    color: white;
    vertical-align: bottom;
}

.sim-btn[disabled] {
    background-color: rgba(65, 85, 100, 0.25);
    box-shadow: none;
}

.sim-btn:active {
    box-shadow: none !important;
}

.sim-btn:not([disabled]):hover {
    color: white;
    background-color: rgba(66, 85, 101, 0.90);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

#exit-btn {
    font-size: 24px;
}

#next-btn {
    width: 56px;
}

#previous-btn {
    margin-left: 0;
}